footer.paperize.purple
    .container-fluid
      .row.footer-content
        .col-md-4
          p &copy; 2015, Buddy Platform, Inc.  All rights reserved.                    
        .col-md-4.text-center
          ul.paperize.list-inline.footer-nav
            li
              a(href='http://buddyplatform.com/docs') API Documentation
            li
              a(href='http://buddy.com/') Buddy.com
            li
              a(href='http://buddy.com/terms-of-service/') Terms of Service
            li
              a(href='http://buddy.com/privacy-policy/') Privacy Policy            
        .col-md-4.text-right
          p Social links and stuff
