script(src='/jquery/dist/jquery.js')
script(src='/underscore/underscore.js')
script(src='/backbone/backbone.js')
script(src="https://www.google.com/jsapi")

link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
link(rel='stylesheet', href='/stylesheets/paperizer.css')

script(type='text/javascript').
    google.load('visualization', '1.1', {'packages': ['bar', 'line']});